.nav {
    @include nav-panel;
}

@include mq-break ('m') {
    .nav {
        @include flexbox-center {
        margin-top: 21px;
        width: 100%;
        flex-wrap: nowrap;
        }

    }

    .nav a {
        margin-left: 15px;
    }
}